spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/springdb
    username: springuser
    password: spring
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    time-zone: Europe/Warsaw